<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a book</title>
    <link th:replace="template::bootstrapcss" rel="stylesheet" href="#" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<nav th:replace="template::navigation('addbook')"></nav>
<div class="container">
<form th:action="@{/addbook}" th:method="post" th:object="${book}" class="form-group">
    <input type="hidden" th:field="*{id}" />

    Title:<input type="text" th:field="*{title}" class="form-control"/>
    <span th:if="${#fields.hasErrors('title')}"  th:errors="*{title}"></span> <br />
Author: <input type="text" th:field="*{author}" class="form-control"/>
    <span th:if="${#fields.hasErrors('author')}"  th:errors="*{author}"></span> <br />
YearOfPub: <input type="text" th:field="*{yearOfPublication}" class="form-control"/>
    <span th:if="${#fields.hasErrors('yearOfPublication')}"  th:errors="*{yearOfPublication}"></span> <br />
ISBN:  <input type="text" th:field="*{isbn}" class="form-control"/>
    <span th:if="${#fields.hasErrors('isbn')}"  th:errors="*{isbn}"></span> <br />
ImageUrl    <input type="url" th:field="*{imageUrl}" class="form-control"/>
    <span th:if="${#fields.hasErrors('imageUrl')}"  th:errors="*{imageUrl}"></span> <br />
   <!--IsAvilable: <input type="radio" th:value="${isAvailable}" th:field="*{isAvilable}" class="form-control" checked="checked"/>-->


    <input type="submit" value="Save"  />

</form>
</div>
<script th:replace="template::bootstrapjs"></script>
</body>
</html>