<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Borrow A book </title>
    <link th:replace="template::bootstrapcss" rel="stylesheet" href="#" />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav th:replace="template::navigation('borrow')"></nav>
<ul>





    <li th:each="book : ${avilableBooks}">
    <li th:inline="text">Book Title [[${book.getTitle()}]]</li>
    <li th:inline="text">Is This Book Avilable [[${book.getIsAvilable()}]]</li>
    <li th:inline="text"><a th:href="${book.getImageUrl()}">[[${book.getImageUrl()}]]</a></li>

        <form th:action="@{/borrow}" th:method="post">
            <input type="hidden"  name="id" th:value="${book.id}" />
            <input type="submit" value="Borrow" />
        </form>
    </li>




    
</ul>
<script th:replace="template::bootstrapjs"></script>
</body>
</html>