<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Of Books</title>
</head>
<body>
  <ul th:each="book : ${books}">
      <li th:inline="text">Book Title [[${book.getTitle()}]]</li>
      <li th:inline="text">Is This Book Avilable [[${book.getIsAvilable()}]]</li>
  </ul>
  <ul th:each="book : ${avilableBooks}">
      <li th:inline="text">Book Title [[${book.getTitle()}]]</li>
      <li th:inline="text">Is This Book Avilable [[${book.getIsAvilable()}]]</li>
  </ul>
  <ul th:each="book : ${returnedBooks}">
      <li th:inline="text">Book Title [[${book.getTitle()}]]</li>
      <li th:inline="text">Is This Book Avilable [[${book.getIsAvilable()}]]</li>
  </ul>
  <ul th:each="book : ${borrowedbooks}">
      <li th:inline="text">Book Title [[${book.getTitle()}]]</li>
      <li th:inline="text">Is This Book Avilable [[${book.getIsAvilable()}]]</li>
  </ul>

</body>
</html>