<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Of Books</title>
    <link th:replace="template::bootstrapcss" rel="stylesheet" href="#" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet"/>
</head>
<body>
<nav th:replace="template::navigation('list')"></nav>
  <ul th:each="book : ${books}">
      <li th:inline="text">Book Title [[${book.getTitle()}]]</li>
<li>
      <span th:if="${book.getIsAvilable()} == true" th:text="Avilable" />
      <span th:unless="${book.getIsAvilable()} == true" th:text="Borrowed" />

</li>

      <li th:if="${book.getTimeStamp()!= null}" th:inline="text">the book was last borrowed [[${book.getTimeStamp()}]]</li>

      <li th:inline="text">
          <img th:if="${book.getImageUrl()} ==''" src="/images/bookdefault.png" alt="default books"/>
          <a th:href="${book.getImageUrl()}">[[${book.getImageUrl()}]]</a>
      </li>
  </ul>

  <script th:replace="template::bootstrapjs"></script>
</body>
</html>