<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Return Book</title>
    <link th:replace="template::bootstrapcss" rel="stylesheet" href="#" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet"/>

</head>
<body>
<nav th:replace="template::navigation('return')"></nav>

<ul>
<li th:each="book : ${borrowedbooks}">
<li th:inline="text">Book Title [[${book.getTitle()}]]</li>
<li th:inline="text">Is This Book Avilable [[${book.getIsAvilable()}]]</li>
    <li th:inline="text"><a th:href="${book.getImageUrl()}">[[${book.getImageUrl()}]]</a></li>


<form th:action="@{/return}" th:method="post">
    <input type="hidden"  name="id" th:value="${book.id}" />
    <input type="submit" value="Return" />
</form>
</li>

</ul>

<script th:replace="template::bootstrapjs"></script>
</body>
</html>