<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head >
    <meta charset="UTF-8"/>
    <title>Library Book Index</title>
    <link th:fragment="bootstrapcss" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css" />

</head>
<body>

<div class="nav">
    <nav th:fragment="navigation(activeTab)" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">JBCLibrary</a>
            </div>
            <ul class="nav navbar-nav">


                <li  th:if="${showHome} ==null" th:class="${activeTab ==''}?'active':null"><a href="/">Home</a></li>
                <li  th:class="${activeTab =='addbook'}?'active':null"><a href="/addbook">AddBook</a></li>
                <li  th:class="${activeTab =='list'}?'active':null"><a href="/list">List</a></li>
                <li  th:class="${activeTab =='borrow'}?'active':null"><a href="/borrow">Borrow</a></li>
                <li  th:class="${activeTab =='return'}?'active':null"><a href="/return">Return</a></li>

            </ul>
        </div>
    </nav>
</div>
<script  th:fragment="bootstrapjs" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>